[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "googleAnalyticsR"]
	path = googleAnalyticsR
	url = https://github.com/markedmondson1234/googleanalyticsr
	shallow = true
	registered = true
[submodule "googleAuthR"]
	path = googleAuthR
	url = https://github.com/markedmondson1234/googleauthr
	shallow = true
	registered = true
[submodule "googleCloudRunner"]
	path = googleCloudRunner
	url = https://github.com/markedmondson1234/googlecloudrunner
	shallow = true
	registered = true
[submodule "measurementProtocol"]
	path = measurementProtocol
	url = https://github.com/markedmondson1234/measurementprotocol
	shallow = true
	registered = true
[submodule "searchConsoleR"]
	path = searchConsoleR
	url = https://github.com/markedmondson1234/searchconsoler
	shallow = true
	registered = true
